{% extends "layout.html" %}

{%block head%}
<title>
	Welcome !!
</title>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">

{%endblock%}
{%block body%}
<h1> Plot points on 2-D cartesian space </h1>

<form id = "form" action = "{{url_for('plot')}}", method = "post">
    <input class = "inp" name = "inp1"  placeholder = "Put x coords"></input>
    <input class = "inp" name = "inp2"  placeholder = "Put y coords"></input>
    <button class ="button" > Plot Point </button>
</form>

{%endblock%}
